<header class="px-2 fixed top-0 left-0 right-0 z-50 w-full flex ">
    <nav class="mt-2 p-3 md:p-4 w-full relative bg-white border border-gray-200 rounded-[18px] md:rounded-[22px] md:flex md:items-center md:justify-between dark:bg-gray-800 dark:border-gray-700" aria-label="Global">

        <div class="flex items-center justify-between">
            <a class="flex flex-row items-center gap-x-2 " href="{{url}}/">
                <img class="w-12 h-auto" src="{{url}}/assets/logo.png" alt="Logo">
                <h1 class="ml-1 text-xl w-fit font-semibold dark:text-white hover:text-blue-600">
                    Robotics Brno
                </h1>
            </a>

            <div class="md:hidden">
                <button type="button" class="hs-collapse-toggle p-2 inline-flex justify-center items-center gap-2 rounded-full border font-medium bg-white text-gray-700 shadow-sm align-middle hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm dark:bg-slate-900 dark:hover:bg-slate-800 dark:border-gray-700 dark:text-gray-400 dark:hover:text-white dark:focus:ring-offset-gray-800" data-hs-collapse="#navbar-collapse-with-animation" aria-controls="navbar-collapse-with-animation" aria-label="Toggle navigation">
                    <svg class="hs-collapse-open:hidden w-4 h-4" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                    <svg class="hs-collapse-open:block hidden w-4 h-4" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </button>
            </div>
        </div>

        <div id="navbar-collapse-with-animation" class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow md:block">
            <div class="flex max-sm:mt-6 max-sm:mb-2 md:pl-7 md:pr-2 flex-col gap-y-4 gap-x-0 md:flex-row md:items-center md:justify-end md:gap-y-0 md:gap-x-7">
                {% for key, value in paths.items() %}
                    {% set active_link = (key == active) %}
                    {% set path = value.path %}
                    {% set show_header = value.showHeader %}
                    {% set external = value.external %}

                    {% if value.showHeader %}
                        {% if not external %}
                            <a class="font-medium md:py-4 {% if active_link %}text-blue-600{% else %}text-gray-500 hover:text-gray-400{% endif %} dark:text-gray-400 hover:text-gray-500"
                               href="{{url}}/{{ path.removesuffix('/index.html') }}"
                               {% if active_link %}aria-current="page"{% endif %}>
                                {{ key }}
                            </a>
                        {% else %}
                            <div class="flex md:py-5 items-center gap-x-2 text-gray-500 hover:text-gray-400 dark:text-gray-400 dark:hover:text-gray-500">
                                <a class="font-medium py-2 text-gray-500 hover:text-gray-400 dark:text-gray-400 dark:hover:text-gray-500"
                                   href="{{url}}/{{path}}" target="_blank">
                                    {{ key }}
                                </a>
                                {# <i class="fa-solid fa-arrow-up-right-from-square"></i> #}
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </nav>
</header>