<link rel="icon" type="image/x-icon" href="/assets/logo.png">
<link href="/style.css" rel="stylesheet" type="text/css" />
<script src="/assets/js/preline.js"></script>

<link rel="stylesheet" href="/assets/css/font-awesome-6.4.1.css">

<!-- Prism.js one-dark theme -->
<link href="{{ url_for('static', filename='assets/css/prism-one-dark.css') }}" rel="stylesheet">

<!-- Prism.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/prism.min.js"></script>
<!-- Prism.js TypeScript support -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/components/prism-typescript.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/components/prism-bash.min.js"></script>