{% set title = "Jaculus Libraries" %}
{% set description = "A list of all Jaculus libraries" %}
{% set keywords = "jaculus, libraries, libs" %}
{% set active = "libs" %}
{% extends "base.html" %}

{% block content %}
<div
    class="flex flex-grow mt-2 mx-2 p-4 text-base dark:bg-gray-800 bg-white rounded-lg shadow-md dark:text-white text-gray-800">
    <p>
        Listed {{ num_of_libs }} libraries
    </p>
</div>

<div class="mx-2 mt-2 grid grid-cols-1 md:grid-cols-4 gap-2">
    {% for lib in libs %}
    <!-- Library Card - {{lib.name}} -->
    <a class="dark:bg-gray-800 flex flex-col bg-white p-4 rounded-lg shadow-md justify-between mx-auto w-full min-w-0 h-full"
        href=" {{url}}/libs/{{ lib.folder }}/">
        <div class="flex flex-col h-full w-full flex-grow">
            <h2 class="dark:text-white text-xl font-bold text-gray-800 mb-1">{{ lib.name }}</h2>
            <p class="dark:text-gray-300 text-gray-600 mb-2">{{ lib.description }}</p>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}