
<script src="{{url}}/assets/js/preline.js"></script>

<script src="{{url}}/assets/js/accordion.js"></script>

<!-- Prism.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/prism.min.js"></script>
<!-- Prism.js TypeScript support -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/components/prism-typescript.min.js"></script>
<!-- Prism.js Bash support -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/components/prism-bash.min.js"></script>